<% if @task.done  %>
  <span class="badge done">
    <i class="fa fa-check" aria-hidden="true"></i>
  </span>
<% else %>
  <span class="badge notdone">
    <i class="fa fa-times notdone" aria-hidden="true"></i>
  </span>
<% end %>
